<div class="dashboard-jumbo">
  <div class="jumbotron" id="dash-jumbo">
    <div class="container">
      <div class="jumbotron_home_text_top">
        Droplet Water Quality Monitoring
      </div>
      <div class="jumbotron_home_text_bottom">
        <!-- Nationwide Water Quality Monitoring -->
      </div>
    </div>
  </div>
</div>
